<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>I Can Do This All Day</title>
    <link rel="stylesheet" href="./static/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="./static/slick/slick.css">
    <link rel="stylesheet" href="./static/slick/slick-theme.css">
    <link rel="stylesheet" href="./static/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="./static/css3/bootstrap.min.css" />
    <link rel="stylesheet" href="./static/css3/tooplate-infinite-loop.css" />
<!--
Tooplate 2117 Infinite Loop
https://www.tooplate.com/view/2117-infinite-loop
-->

  </head>
  <body>    
    <!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
        <div class="container">   
          <div class="tm-next">
              <a href="#infinite" class="navbar-brand">JKim's Data Science</a>
          </div>             
            
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#infinite">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#whatwedo">What I Do</a>
              </li>
              <li class="nav-item">
                <a class="nav-link tm-nav-link" href="#testimonials">Projects</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Contact</a>
              </li>                    
            </ul>
          </div>        
        </div>
      </nav>
      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 class="tm-hero-title">Machine learning & Web development</h2>
            <p class="tm-hero-subtitle">
              I Can Do This All Day
              <br>- Junghwan Kim
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#whatwedo" class="text-center tm-down-arrow-link">
          <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="whatwedo" class="tm-section-pad-top">
      <div class="container">
            <div class="row tm-content-box"><!-- first row -->
                <div class="col-lg-12 col-xl-12">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">What I Do</h2>
                        <p class="mb-4 tm-intro-text">
                          I studied statistics in undergraduate school and data analytics engineering in graduate school. As my major moved from statistics to data, the tools I use also gradually moved from SPSS, SAS, R, etc. to Python and SQL. Also, I am currently enjoying web development based on trained machine learning models.</p>
                    </div>
                </div>

            </div><!-- first row -->
            
            <div class="row tm-content-box"><!-- second row -->
                <div class="col-lg-1">
                    <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Machine Learning</h2>
                        <p class="mb-4 tm-intro-text">
                          Based on my solid background in Machine learning algorithms, gained proficiency in <strong>supervised and unsupervised learning</strong> using Python and Scikit-learn.
                      </p>
                    </div>
                </div>
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-fingerprint text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Deep Learning</h2>
                        <p class="mb-4 tm-intro-text">
                          Based on numerous computer vision-related deep learning projects, gained proficiency in <strong>image classification and object detection</strong> using Python and TensorFlow.
                        </p>
                          
                    </div>
                </div>

            </div><!-- second row -->
            
            <div class="row tm-content-box"><!-- third row -->
              <div class="col-lg-1">
                    <i class="fas fa-3x fa-chart-pie text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4">Data Analysis</h2>
                        <p class="mb-4 tm-intro-text">
                          Based on a strong understanding of statistics and data, gained proficiency in <strong>data pre-processing, data visualization, and statistical analysis</strong> using python and SQL</p>
                    </div>
                </div>
                
                <div class="col-lg-1">
                    <i class="fas fa-3x fa-tablet-alt text-center tm-icon"></i>
                </div>
                <div class="col-lg-5">
                    <div class="tm-intro-text-container">
                      <h2 class="tm-text-primary mb-4">Web application</h2>
                        <p class="mb-4 tm-intro-text">
                       Based on several Flask projects, gained familiarity in <strong>Web application development</strong> using Flask, HTML, CSS, and Python  </p>
                          
                        <!-- <div class="tm-continue">
                            <a href="#testimonials" class="tm-intro-text tm-btn-primary">Go to see Project</a>
                        </div> -->
                    </div>
                </div>

            </div><!-- third row -->

        </div>
      
    </section>
    
    <section id="testimonials" class="tm-section-pad-top tm-parallax-2">      
      <div class="container tm-testimonials-content">
        <div class="row">
          <div class="col-lg-12 tm-content-box">
            <h2 class="text-white text-center mb-4 tm-section-title">Projects</h2>
            <p class="mx-auto tm-section-desc text-center">
                I am interested in both machine learning and web development.
                Among my personal projects, things that could be implemented on the web were created as web applications. Please check!
              </p>
            <div class="mx-auto tm-gallery-container tm-gallery-container-2">
              <div class="tm-testimonials-carousel">
                <figure class="tm-testimonial-item">
                  <h3 >Obesity Predictor</h3>
                  <blockquote>After training Decision trees, Random forests, Support vector machines, Logistic regression, Naive Bayes, and Neural networks with obesity data, implemented them as a web application.</blockquote>
                  <figcaption>Scikit-learn, Tensorflow, Flask</figcaption>
                  <br>
                  <div class="tm-continue">
                      <a href="/spec" class="tm-intro-text tm-btn-primary">Go to see web app</a>
                  </div>
                </figure>

                <figure class="tm-testimonial-item">
                  <h3 >Movie Recommender</h3>
                  <blockquote>Content-based filtering was applied to about 5,000 movies. Two options are available: Plot description-based Recommender and Metadata Based Recommender.</blockquote>
                  <figcaption>Scikit-learn, Flask</figcaption>
                  <br>
                  <div class="tm-continue">
                      <a href="/spec_movie0" class="tm-intro-text tm-btn-primary">Go to see web app</a>
                  </div>
                </figure>

                <figure class="tm-testimonial-item">
                  <h3 >Covid19 Dashboard</h3>
                  <!-- <img src="img/testimonial-img-02.jpg" alt="Image" class="img-fluid mx-auto"> -->
                  <blockquote>Creating a small pivot table by using the developer API provided by the CDC. By summarizing over 40 million pieces of data, light data were uploaded to the Flask web application. </blockquote> 
                  <figcaption>Flask, Chart.JS</figcaption>
                  <br>
                  <div class="tm-continue">
                      <a class="tm-intro-text tm-btn-primary">In progress</a>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tm-bg-overlay"></div>
    </section>
    
    

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">  
        <div class="row"> 
            <div class="text-center col-12">
                <h2 class="tm-section-title mb-4">Contact</h2>
                <br>
            </div>
            
            <div class="col-sm-12 col-md-6">
              <img src="./static/img/testimonial-img-02.png" alt="Image" class="img-fluid mx-auto">
            </div>
            
            <div class="col-sm-12 col-md-6">
            	
                <div class="contact-item">
                  <a rel="nofollow" class="item-link">
                      <i class="far fa-2x fa-envelope mr-4"></i>
                      <span class="mb-0">junghwankim3077@gmail.com (24/7)</span>
                  </a>
                </div>   
                <div class="contact-item">
                  <a rel="nofollow" class="item-link">
                      <i class="fas fa-2x fa-phone-square mr-4"></i>
                      <span class="mb-0">+1) 703-486-4665 (11 AM - 5 PM EST)</span>
                  </a>              
                </div>
                <div class="contact-item">
                  <a rel="nofollow" class="item-link" href = "https://github.com/wldgkdl">
                      <i class="fab fa-2x fab fa-git mr-4"></i>
                      <span class="mb-0">https://github.com/wldgkdl</span>
                  </a>              
                </div>               
            </div>            
        </div><!-- row ending -->        
      </div>

      	<footer class="text-center small tm-footer">
          <p class="mb-0">
          Created by Junghwan Kim.
          </p>
        </footer>

    </section>
    
    <script src="./static/js2/jquery-1.9.1.min.js"></script>     
    <script src="./static/slick/slick.min.js"></script>
    <script src="./static/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="./static/js2/easing.min.js"></script>
    <script src="./static/js2/jquery.singlePageNav.min.js"></script>     
    <script src="./static/js2/bootstrap.min.js"></script> 
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        
        $(window).scroll(function(){
          if($(window).width() > 768) {
            var firstTop = $object.offset().top,
                pos = $(window).scrollTop(),
                yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

            var bg_css = 'center ' + yPos + 'px';

            $object.css({"background-position" : bg_css });
          } else {
            $object.css({"background-position" : "center" });
          }
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        background_image_parallax_2($("#testimonials"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav({
          'easing': 'easeInOutExpo',
          'speed': 600
        });        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 600, 'easeInOutExpo', function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        $('.tm-testimonials-carousel').slick({
          dots: true,
          prevArrow: false,
          nextArrow: false,
          infinite: false,
          slidesToShow: 3,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 2
              }
            }, 
            {
              breakpoint: 480,
              settings: {
                  slidesToShow: 1
              }                 
            }
          ]
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>
  </body>
</html>